# Core dependencies
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.1
tensorflow==2.17.0

# Natural Language Processing
spacy==3.7.5

# Deployment
streamlit==1.37.0
Pillow==10.4.0

# Jupyter Notebook
jupyter==1.0.0
tqdm==4.66.5
# Additional dependencies
beautifulsoup4==4.12.3